# IDE
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class

# Environments
secrets/bot.env
secrets/django.env
secrets/nginx.env
secrets/postgresql.env

# Database data
services/postgresql/dbdata/
services/redis/redisdata/

# Session data
*.session