[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-admin-rangefilter="*"
djangorestframework = "*"
django-rest-auth="*"
psycopg2-binary="*c"
drf-yasg = {extras = ["validation"],version = "*"}

[requires]
python_version = "3.7"
